@media only screen and (max-width: 1000px) {
  .projects-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .social-media {
    width: 100%;
  }
  .footer-section {
    flex-direction: column;
  }
  .social-media ul {
    gap: 10px 0;
    flex-direction: column;
    align-items: center;
  }
  .social-media ul:last-child {
    margin-bottom: 10px;
  }
  .credit p {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    flex-flow: column-reverse;
  }
  .skills-rows {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .social-media {
    width: 100%;
  }
  .footer-section {
    flex-direction: column;
  }
  .social-media ul {
    gap: 10px 0;
    flex-direction: column;
  }
  .social-media ul:last-child {
    margin-bottom: 10px;
  }
  .credit p {
    padding-top: 15px;
  }
}
